.initial-circle {
  margin: 50px auto;
  width: 55px;
  height: 55px;
  line-height: 50px;
  border-radius: 50%;
  border: solid black 1px;
  text-align: center;
  color: black;
  font-size: 26px;
  font-weight: 700;
  /*margin: 0 auto 40px;*/
  /*background-color: #fff9ec;*/
  /*font-family: 'Sacramento', cursive;*/
  font-family: 'Grand Hotel', cursive;
}

.initial-circle a {
  color: black;
}

.logo {
  display: inline-block;
}

.numbers {
  margin: 50px 18px;
  /*text-align: center;*/
  /*width: 600px;*/
  display: inline-block;
    font-family: 'Grand Hotel', cursive;
}

.vl-small {
    border-left: 1px solid black;
    height: 40px;
    margin: -50px 20px 0px 25px;
    display: inline-block;
}

.nav-lines {
  text-align: right;
  margin-bottom: 20px;
}

.vl-large {
    border-left: 1px solid black;
    height: 500px;
    margin-left: 15px;
    margin-top: -40px;
    display: inline-block;
}

.nav-headers {
  /*float: right;*/
  /*bottom: 50px;*/
  font-family: 'Poiret One', cursive;
  font-size: 16px;
  font-weight: bold;

}

/*#nav {
  position: fixed;
}*/

/*#nav span {
  margin: 0px 20px;
  margin-bottom: -10px;
  font-family: 'Grand Hotel', cursive;
}*/

.nav-section {
    /*margin: -50px 20px 0px 0px;*/
    /*padding-right: -20px;*/
    display: inline-block;
    transform-origin: left top;
    transform:rotate(-90deg) translateX(-100%);
    margin-right: -30px;
    margin-left: 38px;
}

.nav-section a {
  color:black;
}

#title-div {
  display: inline-block;
  float: right;
  margin-top: 10%;
  margin-left: 30%;
  position: absolute;
}

h1 {
  font-family: 'Grand Hotel', cursive;
  font-size: 80px;
}

h2 {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  /*font-family: 'Nixie One', cursive;*/
}

#about span {
  font-family: 'Poiret One', cursive;
  font-size: 24px;
}

#about h1, #projects h1, #skills h1, #contact h1 {
  font-size: 4.5em;
}
p, li {
  font-family: 'Poiret One', cursive;
  font-size: 20px;
}

.remindher {
  display: inline-block;
}

.mockups {
  width: 60%;
  height: auto;
  /*margin: 20px;*/
}

.project-desc {
  width: 40%;
  float: right;
  font-family: 'Poiret One', cursive;
  font-size: 20px;
}

.tracking-in-expand-fwd {
  -webkit-animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
          animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
